{% extends '@MauticCore/Default/content.html.twig' %}

{% set mauticContent = 'emailthreads' %}

{% block headerTitle %}{{ 'mautic.emailthreads.thread.view'|trans({'%subject%': thread.subject}) }}{% endblock %}

{% block actions %}
    <div class="btn-group">
        <a href="{{ path('mautic_emailthreads_index') }}" class="btn btn-default">
            <i class="fa fa-arrow-left"></i>
            {{ 'mautic.core.back'|trans }}
        </a>
        <a href="{{ path('mautic_emailthreads_public', {'threadId': thread.threadId}) }}" 
           class="btn btn-primary" target="_blank">
            <i class="fa fa-external-link"></i>
            {{ 'mautic.emailthreads.action.view_public'|trans }}
        </a>
    </div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ thread.subject }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>{{ 'mautic.emailthreads.thread.id'|trans }}:</dt>
                    <dd><code>{{ thread.threadId }}</code></dd>
                    
                    <dt>{{ 'mautic.emailthreads.thread.lead'|trans }}:</dt>
                    <dd>
                        {% if thread.lead %}
                            {{ thread.lead.name ?: thread.lead.email }}
                        {% else %}
                            <em>{{ 'mautic.emailthreads.unknown_lead'|trans }}</em>
                        {% endif %}
                    </dd>
                    
                    <dt>{{ 'mautic.emailthreads.thread.messages'|trans }}:</dt>
                    <dd><span class="badge">{{ thread.messageCount }}</span></dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>{{ 'mautic.emailthreads.thread.first_message'|trans }}:</dt>
                    <dd>{{ thread.firstMessageDate|date('Y-m-d H:i:s') }}</dd>
                    
                    <dt>{{ 'mautic.emailthreads.thread.last_message'|trans }}:</dt>
                    <dd>{{ thread.lastMessageDate|date('Y-m-d H:i:s') }}</dd>
                    
                    <dt>{{ 'mautic.emailthreads.thread.status'|trans }}:</dt>
                    <dd>
                        {% if thread.isActive %}
                            <span class="label label-success">{{ 'mautic.emailthreads.active'|trans }}</span>
                        {% else %}
                            <span class="label label-default">{{ 'mautic.emailthreads.inactive'|trans }}</span>
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h4>{{ 'mautic.emailthreads.messages'|trans }}</h4>
                {% if thread.messages is empty %}
                    <p class="text-muted">{{ 'mautic.emailthreads.no_messages'|trans }}</p>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ 'mautic.emailthreads.thread.subject'|trans }}</th>
                                    <th>{{ 'mautic.emailthreads.thread.last_message'|trans }}</th>
                                    <th>{{ 'mautic.core.actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for message in thread.messages %}
                                    <tr>
                                        <td>{{ message.subject }}</td>
                                        <td>{{ message.dateSent|date('Y-m-d H:i') }}</td>
                                        <td>
                                            <span class="badge">{{ message.emailType|title }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}