{% extends '@MauticCore/Default/content.html.twig' %}

{% set mauticContent = 'emailthreads' %}

{% block headerTitle %}{{ 'mautic.emailthreads.config.title'|trans }}{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'mautic.emailthreads.config.title'|trans }}</h3>
    </div>
    <div class="panel-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.emailthreads_enabled) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.emailthreads_domain) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.emailthreads_auto_thread) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.emailthreads_thread_lifetime) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_row(form.emailthreads_include_unsubscribe) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
